body {
    font-family: Arial, sans-serif;
    background-image: url(986051-pubg-mobile-bgmi_1628314432587_1638104772146.avif);
    color: #fff;
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
}

.logo {
    height: 55px;
}

.header-text {
    text-align: center;
    flex-grow: 1;
}

.header-text h1 {
    margin: 0;
    color: #fff; 
}
.form-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

h1 {
    color: #ffffff;
}

label {
    display: block;
    margin-top: 10px;
}

input[type="text"], input[type="password"], input[type="file"] {
    margin-top: 5px;
    padding: 5px;
    width: 100%;
    max-width: 300px;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #ffcc00;
    color: #000;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #ff9900;
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.pc-image {
    max-width: px;
    height: auto;
}

.map-form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

li img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 50%;
}
